<% provide(:title, 'Home') %>
    <div class="center jumbotron">
      <h1>Welcome to the Easy Job</h1>

      <h2>
        There is always a job for you！
      </h2>

      <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
    </div>     

    