<% @its.each do |f| %>

            <p>
              <%= f.name %><br />
              <%= f.address %><br />
              <%= f.telephone %><br />
               <%= f.employment %>
           </p>

<% end %>